@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	margin: 0;
	padding: 0;
	background: url(bg.jpg) no-repeat center top;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

.login-box {
	width: 320px;
	height: 450px;
	background: #764e80;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 15px;
}

.login-box .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.login-box h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login-box label {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	font-weight: bold;
	display: block;
}

.login-box input {
	width: 100%;
	margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 18px;
}

.login-box input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #14c7b8;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

/*Estilos del dropdown seleccionar rol*/
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #14c7b8;
	background-image: none;
	flex: 1;
	padding: 0 .5em;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
	display: none;
}

.select {
	position: relative;
	display: flex;
	width: 15em;
	height: 2em;
	line-height: 2;
	background: #5c6664;
	overflow: hidden;
	border-radius: .25em;
}

.select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #2b2e2e;
	cursor: pointer;
	pointer-events: none;
	transition: .25s all ease;
}

.select:hover::after {
	color: #14c7b8;
}