@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;900&display=swap')
	;

/*estilos generales*/
.container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.container .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: -400px;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: #764e80;
}
/*estilos para contedor color blanco*/
.container {
	max-width: 400px;
	width: 100%;
	background: #fff;
	padding: 25px 30px;
	border-radius: 15px;
}
/*estilos para los titulos*/
.container .title {
	font-size: 25px;
	font-weight: 500;
}

.container .title:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: #764e80;
}

.container form .detalles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

form .detalles .input-box {
	margin-bottom: 15px;
	width: 100%;
	margin-right: 20px;
}

.detalles .input-box .details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.detalles .input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 15px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.4s ease;
}

.detalles .input-box input:focus, .detalles .input-box input:valid {
	border-color: #764e80;
}

.cargar {
	text-decoration: none;
	padding: 10px;
	font-weight: 400;
	font-size: 20px;
	color: #ffffff;
	background-color: #764e80;
	border-radius: 6px;
	border: 2px solid #A569BD;
	margin-top: 20px;
}

.cargar:hover {
	color: #A569BD;
	background-color: #ffffff;
	filter: blur(2px);
	transform: translatey(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
	filter: none;
}

ul li a {
	display: inline-block;
	padding: 0 20px;
	background: #14c7b8;
	color: #fff;
	line-height: 50px;
	font-size: 18px;
	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
	transition: .2s;
	border-radius: 5px;
	width: 80px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

ul:hover a {
	filter: blur(2px);
}

ul li a:hover {
	transform: translatey(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
	filter: none;
}